@if (authService.isInitialized()) {
  @if (authService.user()) {
    <app-navbar></app-navbar>
    <app-notifications></app-notifications>
  }
  
  <router-outlet></router-outlet>
  
  @if (authService.user()) {
    <app-bottom-bar></app-bottom-bar>
  }
} @else {
  <!-- Skeleton loader while checking auth -->
  <div class="h-screen w-screen flex justify-center items-center">
    <div class="animate-pulse flex flex-col items-center">
      <span class="material-symbols-outlined text-primary text-4xl mb-4">terminal</span>
      <div class="h-4 w-24 bg-surface-variant rounded"></div>
    </div>
  </div>
}
